{% extends "base.html" %}

{% block content %}
<h1>Добавление занятия</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.week_day.label }}<br>
        {{ form.week_day(class="form-control") }}<br>
        {% for error in form.week_day.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_time.label }}<br>
        {{ form.start_time(class="form-control") }}<br>
        {% for error in form.start_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.end_time.label }}<br>
        {{ form.end_time(class="form-control") }}<br>
        {% for error in form.end_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.group.label }}<br>
        {{ form.group(class="form-control") }}<br>
        {% for error in form.group.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.teacher.label }}<br>
        {{ form.teacher(class="form-control") }}<br>
        {% for error in form.teacher.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.conf_link.label }}<br>
        {{ form.conf_link(class="form-control") }}<br>
        {% for error in form.conf_link.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}